ion-toolbar{
    --ion-background-color: #067ca5 ;
   }
   .title{
    text-align: center;
    font-size:x-large;
    font-family: 'Heebo'!important;
    margin-top: 17%;
    font-weight:700;
    color: #067ca5;
  }
  
  ion-content{
  
    --ion-background-color:#a4d5dd;
   text-align: center;
  }
  .detial{
      margin-top: 3%;
      font-family: 'Heebo';
      color: #067ca5;
      font-size: large;
     
  }