ion-item {
    --border-radius: 1.8012mm;
    --background: #f1f0f0;
    color:#48b5be ;  
    margin-right: 7%;
    margin-top: 2%;
    margin-left:7%;
}
ion-label{
    font-family: 'Heebo' !important;
    --color: #48b5be;
}