ion-tab-bar{
    --ion-background-color: #48b5be;;
}
.user{
  
    float: left;
    color:#fec80f;
}
ion-toolbar{
    --ion-background-color: #067ca5 !important;
   }
   ion-header{
    --ion-background-color: #067ca5 !important;  
   }
.bgColor{
    background-color: #067ca5;  
--ion-background-color: #067ca5 !important;
}

 .iconSize {
    font-size: 440px;
}
ion-icon{
    font-size: 37px;   
}

ion-label{
    color: white;
    font-size: smaller;
    font-weight: lighter;
}
.img-size{
    width: 40px;
}