<ion-header ><p class="user">שלום {{userName}}</p></ion-header>


 
    
 

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="camera"></ion-icon>
      <ion-label>להצטרפות לתור</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>
      <ion-label>התורים שלי</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" icon-on="mcfly" icon-off="mcfly">
      <!--ion-icon name="star"></ion-icon-->
      <ion-icon src="../../assets/personal.svg" ></ion-icon>
      <ion-label>OnLine</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
