<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="warpper">
 <ion-img src="./assets/logoWhite.svg"></ion-img>
 </div>
   <span class="title">למה כדאי להזמין תור דרכנו?</span>
   <ion-text>
   <ion-list lines="none">
     <ion-item>
      <ion-icon class="icon-size" src="../../assets/star.svg"></ion-icon>
       מוצאים לך את התור הקצר ביותר
     </ion-item>
     <ion-item>
      <ion-icon class="icon-size" src="../../assets/star.svg"></ion-icon>
     מתריאים לך לפני זמן התור 
     </ion-item>
     <ion-item>
      <ion-icon class="icon-size" src="../../assets/star.svg"></ion-icon>
       גישה למגוון ענק של עסקים
     </ion-item>
     <ion-item>
      <ion-icon class="icon-size" src="../../assets/star.svg"></ion-icon>
      זמין קצר ופשוט
     </ion-item>
    </ion-list>
   </ion-text>
    
   
</ion-content>
