<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="./assets/success.jpg"></ion-img>
  <div class="success">

  </div>
  <ion-text >
    <h1 class="title">התור זומן בהצלחה!</h1>
    <p> קוד אימות: {{verificationCode}}</p>
    <!--p routerLink="/tabs/tab1">לחזרה לתפריט ראשי</p-->
  </ion-text>
  <div class="center-button">
    <ion-button routerLink="/tabs/tab1">חזרה לתפריט הראשי</ion-button>
  </div>
    <ion-text class="center">
     
      <!--p>{{turn.BusinessName}}</p-->
      <p class="center">{{turn.EstimatedHour}} 
      {{turn.Address}}
      {{turn.preAlert}}</p>
    </ion-text>
  
  
</ion-content>